<!DOCTYPE html>
<html>
    <head>
        <link href="/css/styles.css" rel="stylesheet" />

    </head>
    <body>
     <center><img id="image" src="/images/rdplogo.png" /></center>
     <h3>Mock JSON CRUD Operations</h3>

     <div id="formContainer">

        <form id="addUserForm" method="POST" action="/users" >
            <h4>Add User Form (Post Method)</h4>

            <input type="text" id="username" name="username" placeholder="username" required />
            <input type="text" id="first_name" name="first_name" placeholder="first_name" required />
            <input type="email" id="email" name="email" placeholder="email" required />

            <button type="submit">Add User</button>
        </form>


        <form id="editUserForm" method="POST" action="/users/:id?update" >
            <h4>Edit User  (Put Method)</h4>

            <input type="number" id="edit_id" name="id" placeholder="User ID" required />
            <input type="text" id="new_username" name="new_username" placeholder="New Username"  />
            <input type="text" id="new_first_name" name="new_first_name" placeholder="New First Name" />
            <input type="email" id="new_email" name="new_email" placeholder="New Email"  />
            <button type="submit" onclick="">Update User</button>
        </form>

        <form id="deleteUserForm" method="POST" action="/users/:id/delete">
            <h4> Delete Usder Form (Post/Delete Method)</h4>
            <input type="number" id="delete_id" name="id" placeholder="User ID"  />
            <button type="submit" onclick="">Delete User</button>


        </form>



     </div>

    </body>
</html>